.statistique{
    display: inline-block;
    height: 15%;
    width: 30%; 
    background-color: #2874a6;
    margin:0.1%;
}
    
.statistique_icone{
    height: 100%;
    width: 48%;
    float: left;
    margin: 0;
    text-align-last: center;
    
}

img{
    height : 95%;
    padding: 1%;
}

a:link, a:active, a:hover, a:visited{
    text-decoration: none;
    color: white;
}

.statistique_valeur{
    height: 100%;
    width: 48%;
    float: right;
    margin: 0;
    font-size: 2.5em;
    position: relative;
    line-height:125px;
    
}